<%- include("header") -%>

<main>
  <!--? slider Area Start-->
  <div class="slider-area">
    <div
      class="single-slider hero-overly slider-height2 d-flex align-items-center"
      data-background="assets/img/hero/about.jpg"
    >
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap">
              <h2>About us</h2>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">About</a></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- slider Area End-->
  <!--? About Area Start -->
  <div class="about-low-area section-padding30">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="about-caption mb-50">
            <!-- Section Tittle -->
            <div class="section-tittle mb-35">
              <span>About Our Company</span>
              <h2>
                Safe Logistic & Transport Solutions That Saves our Valuable
                Time!
              </h2>
            </div>
            <p>
              At VanLink Logistics, we are dedicated to providing safe and
              reliable transportation solutions that save our clients valuable
              time. Our experienced team of logistics experts and drivers work
              tirelessly to ensure that all our clients' transportation needs
              are met with efficiency and professionalism.
            </p>
            <p>
              Our flexible and convenient transportation services are designed
              to cater to our clients' unique needs. We offer a range of
              customizable layouts and elements to ensure that our clients
              receive the best possible service. Our services include urgent
              delivery services, next-day delivery services, same-day delivery
              services, long-term services, and international and nationwide
              freight forwarding services.
            </p>
            <p>
              At VanLink Logistics, we pride ourselves on our commitment to
              safety and compliance. All of our vehicles are regularly
              maintained and inspected to ensure that they meet the highest
              standards. We also use the latest technology and logistics methods
              to ensure that our clients' goods are transported in the most
              efficient and cost-effective way possible.
            </p>
            <p>
              Our goal is to provide our clients with a stress-free and
              hassle-free transportation experience. We believe in building
              long-lasting relationships with our clients based on trust,
              reliability, and professionalism.
            </p>
            <p>
              Choose VanLink Logistics for all your transportation needs, and
              experience safe and efficient transportation solutions that save
              you time and money.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <!-- about-img -->
          <div class="about-img">
            <div class="about-font-img">
              <img src="assets/img/gallery/about2.png" alt="" />
            </div>
            <div class="about-back-img d-none d-lg-block">
              <img src="assets/img/gallery/about1.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About Area End -->
  <!--Team Ara Start -->
  <div class="team-area section-padding30">
    <div class="container">
      <div class="row justify-content-center">
        <div class="cl-xl-7 col-lg-8 col-md-10">
          <!-- Section Tittle -->
          <div class="section-tittle text-center mb-70">
            <span>Our Team Mambers</span>
            <h2>Always There to Support you.</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="single-team mb-30 text-center">
            <div class="team-img">
              <img src="assets/img/gallery/team1.png" alt="" />
              <div class="team-caption">
                <h3><a href="#">Hamid Sher</a></h3>
                <p>Customer Representative</p>
                <!-- Blog Social -->
                <div class="team-social">
                  <ul>
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fas fa-globe"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="single-team mb-30 text-center">
            <div class="team-img">
              <img src="assets/img/gallery/team2.png" alt="" />
              <div class="team-caption">
                <h3><a href="#">Muhammad Mehmood</a></h3>
                <p>Dispatcher</p>
                <!-- Blog Social -->
                <div class="team-social">
                  <ul>
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fas fa-globe"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team Ara End -->
  <!--? Testimonial Start -->
  <div
    class="testimonial-area testimonial-padding section-bg"
    data-background="assets/img/gallery/section_bg04.jpg"
  >
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-xl-12 col-lg-12">
          <!-- Section Tittle -->
          <div class="section-tittle section-tittle2 mb-25">
            <span>Clients Testimonials</span>
            <h2>What Our Clients Say!</h2>
          </div>
          <div class="h1-testimonial-active mb-70">
            <!-- Single Testimonial -->
            <div class="single-testimonial">
              <!-- Testimonial Content -->
              <div class="testimonial-caption">
                <div class="testimonial-top-cap">
                  <p>
                    Srem ipsum adolor dfsit amet, consectetur adipiscing elit,
                    sed dox beiusmod tempor incci didunt ut labore et dolore
                    magna aliqua. Quis cipsucm suspendisse ultrices gravida.
                    Risus commodo vivercra maecenas accumsan lac.
                  </p>
                </div>
                <!-- founder -->
                <div class="testimonial-founder d-flex align-items-center">
                  <div class="founder-img">
                    <img src="assets/img/gallery/Homepage_testi.png" alt="" />
                  </div>
                  <div class="founder-text">
                    <span>Jhaon smith</span>
                    <p>Creative designer</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Single Testimonial -->
            <div class="single-testimonial">
              <!-- Testimonial Content -->
              <div class="testimonial-caption">
                <div class="testimonial-top-cap">
                  <p>
                    Srem ipsum adolor dfsit amet, consectetur adipiscing elit,
                    sed dox beiusmod tempor incci didunt ut labore et dolore
                    magna aliqua. Quis cipsucm suspendisse ultrices gravida.
                    Risus commodo vivercra maecenas accumsan lac.
                  </p>
                </div>
                <!-- founder -->
                <div class="testimonial-founder d-flex align-items-center">
                  <div class="founder-img">
                    <img src="assets/img/gallery/Homepage_testi.png" alt="" />
                  </div>
                  <div class="founder-text">
                    <span>Jhaon smith</span>
                    <p>Creative designer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonial End -->
  <!--? Blog Area Start -->
  <!-- Blog Area End -->
</main>

<%- include("footer") -%>
